FormSigno/Service References/SRSigno/Horoscopos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Signos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dia" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="mes" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SignosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SignosSoapIn">
    <wsdl:part name="parameters" element="tns:Signos" />
  </wsdl:message>
  <wsdl:message name="SignosSoapOut">
    <wsdl:part name="parameters" element="tns:SignosResponse" />
  </wsdl:message>
  <wsdl:portType name="HoroscoposSoap">
    <wsdl:operation name="Signos">
      <wsdl:input message="tns:SignosSoapIn" />
      <wsdl:output message="tns:SignosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HoroscoposSoap" type="tns:HoroscoposSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Signos">
      <soap:operation soapAction="http://tempuri.org/Signos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HoroscoposSoap12" type="tns:HoroscoposSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Signos">
      <soap12:operation soapAction="http://tempuri.org/Signos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Horoscopos">
    <wsdl:port name="HoroscoposSoap" binding="tns:HoroscoposSoap">
      <soap:address location="http://localhost:39157/Horoscopos.asmx" />
    </wsdl:port>
    <wsdl:port name="HoroscoposSoap12" binding="tns:HoroscoposSoap12">
      <soap12:address location="http://localhost:39157/Horoscopos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>